@font-face {
  font-family: 'MTNBrighterSansBold';
  src: url('../font/MTNBrighterSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MTNBrighterSansRegular';
  src: url('../font/MTNBrighterSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'MTNBrighterSansRegular', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(51, 51, 51, 0.8)),
    url('../images/NWD.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFD700;
  overflow: hidden;
}

.container {
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tag {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slot-machine {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 15px;
}

.wheel {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.wheel span {
  position: absolute;
  animation: roll 0.8s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

button {
  width: 250px;
  height: 70px;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFD700;
  background: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  z-index: 0;
}

button:hover {
  background: #FFD700;
  color: #000;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 15px #FFD700, 0 0 30px #FFD700;
}

button img {
  width: 24px;
  height: 24px;
}

button::before {
  content: '';
  position: absolute;
  inset: -10px;
  border-radius: 50px;
  background: radial-gradient(circle at center, rgba(255, 215, 0, 0.2), transparent 70%);
  z-index: -1;
  transition: opacity 0.4s, transform 0.4s;
  opacity: 0;
  transform: scale(0);
}

button:hover::before {
  opacity: 1;
  transform: scale(1.2);
}

.logo {
  width: 200px;
}

.shuffle {
  width: 20px;
}