@font-face {
  font-family: 'MTNBrighterSansBold';
  src: url('../font/MTNBrighterSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MTNBrighterSansRegular';
  src: url('../font/MTNBrighterSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'MTNBrighterSansRegular', Arial, sans-serif;
  margin: 0;
  background: url('../images/Momo-Back.png') no-repeat center/cover;
  color: #FFD700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  border-radius: 24px;
  padding: 40px 30px;
  backdrop-filter: blur(14px);
  max-width: 600px;
  width: 90%;
  background: rgba(25, 87, 124, .85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(25, 87, 124, 1);
}

.logo {
  width: 140px;
  /* margin-bottom: 20px; */
}

#tag {
  font-family: 'MTNBrighterSansBold';
  font-size: 2.6rem;
  margin-bottom: 8px;
}

.subtext {
  font-size: 1rem;
  color: #FFD700;
  margin-bottom: 30px;
}

.display {
  margin-bottom: 30px;
}

#numberDisplay {
  font-size: 4.5rem;
  font-weight: bold;
  color: #FFD700;
  padding: 25px 20px;
  background: rgba(255, 215, 0, 0.08);
  border-radius: 10px;
  /* box-shadow: 0 0 18px rgba(255, 215, 0, 0.4); */
  border: 1px solid #fff;
  margin-bottom: 18px;
  /* text-shadow: 0 0 12px rgba(255, 215, 0, 0.8); */
}

#nameDisplay {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.95);
}

.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

button {
  background: white;
  color: #19577c;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 16px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  font-family: 'MTNBrighterSansRegular', Arial, sans-serif;
}

button:hover {
  background: #19577c;
  color: #fff;
  /* background: #FFD700;
  color: #000; */
  transform: translateY(-3px) scale(1.04);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

button img {
  width: 24px;
  height: 24px;
}

button.primary {
  background: #19577c;
  color: white;
  font-size: 1.3rem;
  padding: 18px 28px;
  border: 2px solid white;
}

button.primary:hover {
  background: #19577c;
  color: #FFD700;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  /* border: 2px solid #FFD700; */
}

button img {
  transition: opacity 0.3s ease;
}

button:hover img.default-icon {
  opacity: 0;
}

button:hover img.hover-icon {
  opacity: 1;
}

button img.hover-icon {
  position: absolute;
  opacity: 0;
}

#downloadResultsBtn {
  margin-top: 50px;
  font-size: 13px;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  background-color: #222;
  margin: 10% auto;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  color: #FFD700;
  text-align: left;
  box-shadow: 0 0 30px #FFD70066;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid #FFD700;
  padding-bottom: 10px;
}

.close,
.no-winners-close {
  color: #FFD700;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#resultsList {
  margin-top: 20px;
  line-height: 1.8;
}

.close:hover {
  color: #fff;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #FDBB30;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #FFD700;
}